.dashboard-container {
  padding: 24px;
  
  .ant-row {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .recent-posts {
    margin-top: 30px;
    
    h3 {
      margin-bottom: 20px;
    }
  }
} 